* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-size: 15;
}

.menu li:hover {
    background-color: cyan;
    border-radius: 5px;
    transition: 0.5s ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 10px 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 5px;
    top: 52px;
    left: 300px;
}

.services:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px 10px;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

#checkbox_toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}



@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }
}

.inputbox {
    position: relative;
    text-align: center;
    top: 200px;
}

.textbox {
    width: 400px;
    height: 40px;
    font-size: large;
    font-family: cursive;
}


.out {
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
}

th,
td {
    border: 1px solid black;
    width: 200px;
}
.table{
    background-color: red;
    margin-left:auto; 
    margin-right:auto}
    
